# Set this to True when using it in a production environment.
PROD_MODE = False

# Supabase
SUPABASE_URL=
SUPABASE_KEY=#The Supabase service role key.

# GeoGuessr
GG_COOKIE=#Your _ncfa token found in your browser's debug panel.
GEO_ACCOUNT_ID=#Your Geoguessr UID.
CLUB_ID=#Your Geoguessr club ID.